.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.tagline {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .title {
    font-size: 5rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.list li:first-child {
  border-radius: 5px;
  background-color: #66CDA3;
  color:#1e3250;
}


.list li .rank {
  font-size: 3rem;
  font-weight: 700;
  color:#3863A0;
}

.list li h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;

  line-height: 1.8rem;
  margin: 0.3rem 0;
}

.errorLink {
  color: #ffffff
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: stretch;
  width: 100%;
}

@media (min-width: 768px) {
  .controls {
    flex-direction: row;
    align-items: stretch;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  text-align: center;
}

.footer a {
  color: #ffffff;
}
