.controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: stretch;
  width: 100%;
}

@media (min-width: 768px) {
  .controls {
    flex-direction: row;
    align-items: stretch;
  }
}
